*{
    font-family: Arial, Helvetica, sans-serif;
}


.nv {
    background-color: #f15a24;
    width: 48%;
    padding: 5px;
    justify-content: center;
    justify-items: center;
    border-radius: 5px;
    margin: 5px;
    margin-right: 11.5%;
}

.nvs {
    background-color: #f15a24;
}

.za {
    color: #f15a24;
    display: inline;
}

.nvsI:hover {
    background-color: #ffffff;
    color: black;
}

.logo {
    width: 10%;
    display: inline-block;
    background-color: #FFF;
    padding: 5px 5px;
    margin-top: 2%;
    margin: 5px;
    margin-left: 11.5%;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.ima {
    width: 76.5%;
    height: auto;
    margin-left: 12%;
}

.ims {
    height: 450px;
    border-radius: 5px;
}

.cst {
    margin-bottom: 15%;
    background-color: #f15a24;
    color: #FFF;
}

.cst:hover {
    margin-bottom: 15%;
    background-color: transparent;
    border: 2px #f15a24;
    border-style: solid;
    color: #000000;
}

.separa {
    margin-top: 5%;
    width: 76.5%;
    margin-left: 12%;
}

.tt {
    color: #f15a24;
}

.ne {
    /* font-weight: bold; */
    font-size: 16px;
    text-align: justify;
}

.contenedor-cartas {
    margin-left: 11%;
    margin-right: 10%;
    padding: 10px;
    display: flex;
    width: 78.5%;
    height: auto;
    margin-top: 3%;
    /* border-style: solid; */
}

.carta {
    width: 33.33%;
    height: auto;
    display: inline-block;
    vertical-align: top;
    margin-top: 0.5%;
    margin-left: 0.3%;

}

.card-title {
    color: #f15a24;
}

.imgcards {
    margin-top: 92%;
    width: 98%;
    height: 40px;
    text-align: center;
    margin-left: 1%;
    background-color: rgba(252, 101, 0, 0.6);
    border-style: none;
    border-radius: 5px;
    color: #FFF;
    font-size: x-large;
}

.btnbtn1 {
    width: 33.3333%;
    height: 450px;
    background-image: url("../img/disenios.png");
    background-repeat: no-repeat;
    background-size: 100% 450px;
    margin-left: 0.3%;
    border-radius: 5px;
}

.btnbtn2 {
    width: 33.3333%;
    height: 450px;
    background-image: url("../img/silla_madera.png");
    background-repeat: no-repeat;
    background-size: 100% 450px;
    margin-left: 0.3%;
    border-radius: 5px;
}

.btnbtn3 {
    width: 33.3333%;
    height: 450px;
    background-image: url("../img/cama.png");
    background-repeat: no-repeat;
    background-size: 100% 450px;
    margin-left: 0.3%;
    border-radius: 5px;
}

.pp {
    text-align: left;
    font-size: x-large;
    font-weight: bold;
    color: #FFF;
    display: inline-block;
    margin-right: 20%;
}

.slide-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.frases {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.6%;
    width: 76.9%;
    height: 130px;
    border-radius: 5px;
    overflow: hidden;
    background-image: url("../img/frases.png");
    /* background-repeat: no-repeat; */
}

.fra,
.frase {
    list-style: none;
}

.fra {
    width: 550px;
    height: 140px;
    position: relative;
    animation: slide 5s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite;
}

.frase {
    position: absolute;
    height: 140px;
    top: 200%;
    line-height: 140px;
    font-size: 18px;
    color: #FFF;
    font-weight: bold;
}

.frase:first-child {
    top: 100%;
}

.frase:last-child {
    top: 300%;
}

@keyframes slide {
    0% {
        transform: translateY(0);
    }

    15%,
    30% {
        transform: translateY(-100%);
    }

    45%,
    60% {
        transform: translateY(-200%);
    }

    75%,
    90% {
        transform: translateY(-300%);
    }

    100% {
        transform: translateY(-400%);
    }
}

.footer {
    margin-top: 3%;
    margin-left: 12%;
    padding: 1%;
    width: 76.5%;
    margin-bottom: 2%;
}

th,
td {
    padding: 8px;
    text-align: left;
}

th {
    font-weight: bold;
    font-size: 20px;
}

.footertitle {
    color: #FFF;
}

.foots {
    color: #ffffff;
    font-style: normal;
    text-decoration: none;
    font-size: small;
}

.todofoot {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tablas {
    width: 30%;
    /* margin-left: -40%; */
}

.redessociales {
    width: 30px;
    height: auto;
    /* margin-left: -95%; */
}

.redsocial {
    color: #f15a24;
    display: inline-block;
}

/* fin index */

/* proyecto */

.proyectos {
    width: 76.5%;
    margin-left: 12%;
    text-decoration: none;
}

.imgpro {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.clientes {
    width: 76.5%;
    height: 38.25%;
    margin-left: 12%;
    border: none;
}

.Diseño {
    background-image: url("../img/servicios/disenio.jpg");
    background-repeat: no-repeat;
    width: 76.5%;
    height: 600px;
    border-radius: 5px;
    margin-left: 12%;
    margin-top: -0.01%;
}

.Rendering {
    background-image: url("../img/servicios/rendering.jpg");
    background-repeat: no-repeat;
    width: 76.5%;
    height: 600px;
    border-radius: 5px;
    margin-left: 12%;
}

.Produccion {
    background-image: url("../img/servicios/prod.jpg");
    background-repeat: no-repeat;
    width: 76.5%;
    height: 600px;
    border-radius: 5px;
    margin-left: 12%;
}

.Laser {
    background-image: url("../img/servicios/laser.jpg");
    background-repeat: no-repeat;
    width: 76.5%;
    height: 600px;
    border-radius: 5px;
    margin-left: 12%;
}

.d1 {
    background-color: rgba(255, 255, 255, 0.5);
    width: 40%;
    height: 600px;
    margin-top: -9px;
    margin-left: 50%;
    text-align: justify;
    padding: 5%;
    font-size: 14px;
}

.d1 h2 {
    color: #f15a24;
}

.r1 {
    background-color: rgba(255, 255, 255, 0.5);
    width: 40%;
    height: 600px;
    margin-top: -9px;
    margin-left: 5%;
    text-align: justify;
    padding: 5%;
    font-size: 14px;
}

.r1 h2 {
    color: #f15a24;
}

.p1 {
    background-color: rgba(255, 255, 255, 0.5);
    width: 40%;
    height: 600px;
    margin-top: -9px;
    margin-left: 50%;
    text-align: justify;
    padding: 5%;
    font-size: 14px;
}

.p1 h2 {
    color: #f15a24;
}

.l1 {
    background-color: rgba(255, 255, 255, 0.5);
    width: 40%;
    height: 600px;
    margin-top: -9px;
    margin-left: 5%;
    text-align: justify;
    padding: 5%;
    font-size: 14px;
}

.l1 h2 {
    color: #f15a24;
}

.c1 {
    position: absolute;
    z-index: 0;
}

.l {
    background-color: rgba(255, 255, 255, 0.5);
    width: 40%;
    height: 589px;
    margin-top: -9px;
    margin-left: 5%;
    text-align: justify;
    padding: 5%;
    font-size: 10px;
    display: inline-block;
    position: absolute;
    z-index: 1;
}

.l h2 {
    color: #f15a24;
}

/* Tecnologia */

.inst {
    width: 76.5%;
    margin-left: 12%;
    margin-top: 2%;
    text-align: center;
    color: #f15a24;
    border: #FFF;
}

.inst2 {
    width: 76.5%;
    margin-left: 12%;
    margin-top: 2%;
    text-align: center;
    color: #f15a24;
    border: #FFF;
}

.matTon {
    width: 76.5%;
    margin-left: 12%;
    position: relative;
    border: #FFF;
    margin-top: 3%;
}

.matTon,
.maderas,
.tonos {
    display: inline-block;

}

.maderas {
    /* background-color: aquamarine; */
    width: 49.7%;
    text-align: center;
    color: #f15a24;
    position: relative;
}

.tonos {
    /* background-color: brown; */
    width: 49.7%;
    text-align: center;
    color: #f15a24;
    position: absolute;
}

.mad1:hover,
.mad2:hover,
.mad3:hover,
.mad4:hover,
.mad5:hover,
.mad6:hover,
.mad7:hover,
.mad8:hover,
.mad9:hover {
    cursor: pointer;
    box-shadow: 1px 1px 12px 1px #f15a24;
}

/* Maderas */

.mad1 {
    width: 150px;
    height: 150px;
    display: inline-block;
    margin: 0.2%;
    margin-top: 2%;
    margin-left: 1%;
    border-radius: 5px;
    background-image: url("../img/tecnolgia/poplar\ 1.jpg");
}

.mad2 {
    width: 150px;
    height: 150px;
    display: inline-block;
    margin: 0.2%;
    margin-top: 2%;
    margin-left: 1%;
    border-radius: 5px;
    background-image: url("../img/tecnolgia/caoba\ australiana.jpg");
}

.mad3 {
    width: 150px;
    height: 150px;
    display: inline-block;
    margin: 0.2%;
    margin-top: 2%;
    margin-left: 1%;
    border-radius: 5px;
    background-image: url("../img/tecnolgia/cerezo.jpg");
}

.mad4 {
    width: 150px;
    height: 150px;
    display: inline-block;
    margin: 0.2%;
    margin-top: 2%;
    margin-left: 1%;
    border-radius: 5px;
    background-image: url("../img/tecnolgia/encino\ blanco.jpg");
}

.mad5 {
    width: 150px;
    height: 150px;
    display: inline-block;
    margin: 0.2%;
    margin-top: 2%;
    margin-left: 1%;
    border-radius: 5px;
    background-image: url("../img/tecnolgia/encino\ rojo.jpg");
}

.mad6 {
    width: 150px;
    height: 150px;
    display: inline-block;
    margin: 0.2%;
    margin-top: 2%;
    margin-left: 1%;
    border-radius: 5px;
    background-image: url("../img/tecnolgia/haya.jpg");
}

.mad7 {
    width: 150px;
    height: 150px;
    display: inline-block;
    margin: 0.2%;
    margin-top: 2%;
    margin-left: 1%;
    border-radius: 5px;
    background-image: url("../img/tecnolgia/maple.jpg");

}

.mad8 {
    width: 150px;
    height: 150px;
    display: inline-block;
    margin: 0.2%;
    margin-top: 2%;
    margin-left: 1%;
    border-radius: 5px;
    background-image: url("../img/tecnolgia/nogalb.jpg");
}

.mad9 {
    width: 150px;
    height: 150px;
    display: inline-block;
    margin: 0.2%;
    margin-top: 2%;
    margin-left: 1%;
    border-radius: 5px;
    background-image: url("../img/tecnolgia/nogalb.jpg");
}



/* Tonos */
.ton1 {
    background-image: url("../img/tecnolgia/avellana.jpg");
    width: 200px;
    height: 200px;
    margin: 0.2%;
    margin-top: 2%;
    margin-left: 1%;
    border-radius: 5px;
    display: inline-block;
}

.ton2 {
    background-image: url("../img/tecnolgia/tzalamtinta2.jpg");
    width: 200px;
    height: 200px;
    margin: 0.2%;
    margin-top: 2%;
    margin-left: 1%;
    border-radius: 5px;
    display: inline-block;
}

.ton3 {
    background-image: url("../img/tecnolgia/wengue.jpg");
    width: 200px;
    height: 200px;
    margin: 0.2%;
    margin-top: 2%;
    margin-left: 1%;
    border-radius: 5px;
    display: inline-block;
}

.ton4 {
    background-image: url("../img/tecnolgia/chocolate.jpg");
    width: 200px;
    height: 200px;
    margin: 0.2%;
    margin-top: 2%;
    margin-left: 1%;
    border-radius: 5px;
    display: inline-block;
}

.ton1:hover,
.ton2:hover,
.ton3:hover,
.ton4:hover {
    cursor: pointer;
    box-shadow: 1px 1px 12px 1px #f15a24;
}

.n {
    padding: 45% 0;
    color: #FFF;
}

.fets {
    width: 76.5%;
    margin-left: 12%;
    /* position: relative; */
    border: #FFF;
    text-align: justify;
    margin-top: 2%;
}

/* Nosotros */

.nosotros {
    background-image: url("../img/nosotros/nosotros.jpg");
    background-repeat: no-repeat;
    width: 76.5%;
    height: 700px;
    border-radius: 5px;
    margin-left: 12%;

}

.n1 {
    background-color: rgba(255, 255, 255, 0.5);
    width: 45%;
    height: 900px;
    margin-top: -9px;
    margin-left: 50%;
    text-align: justify;
    padding: 3.5%;
    font-size: 11px;
}

/* Contacto */

.comunicate {
    background-image: url("../img/contacto/comunicate.jpg");
    background-repeat: no-repeat;
    width: 76.5%;
    height: 500px;
    border-radius: 5px;
    margin-left: 12%;
}

.c1 {
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 500px;
    margin-top: -9px;
    text-align: justify;
    padding: 3.5%;
    font-size: 11px;
    position: relative;
}

.c1 h2 {
    color: #f15a24;
}

.c1,
.c2,
.c3 {
    display: inline-block;
}

.c2 {
    width: 49.8%;
    position: relative;
    font-size: 20px;
    padding: 2%;

}

.c3 {
    width: 49.8%;
    font-size: 20px;
    position: absolute;
    padding: 2%;
}

.butt {
    color: #FFF;
    background-color: #f15a24;
    border-color: #f15a24;
}

.butt:hover {
    margin-bottom: 15%;
    background-color: #FFF;
    border: 2px #f15a24;
    border-style: solid;
    color: #f15a24;
}

/* Catalogos */

.cat {
    background-color: rgba(241, 90, 36, 0.7);
    width: 76.5%;
    height: 60px;
    border-radius: 5px;
    margin-left: 12%;
    margin-top: 1%;
    text-align: center;
    color: #FFF;
}

.catalogos {
    position: flex;
    width: 76.5%;
    height: 800px;
    /* background-color: aqua; */
    margin-left: 12%;
    margin-top: 3%;
}

.card2 {
    position: relative;
    width: 100%;
    height: 400px;
    border-radius: 5px;
}

.card2 .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 5px;
    overflow: hidden;
    transition: .5s;
}

.card2 .front {
    transform: perspective(600px) rotateY(0deg);
}

.card2 .front img {
    height: 400px;
}


.card2 .back {
    transform: perspective(600px) rotateY(180deg);
    background-color: rgba(241, 90, 36, 0.7);
    padding: 10%;
    color: #FFF;
    display: flex;
    flex-direction: column;
    text-align: justify;
    box-shadow: 0 5px 10px #fc6b02;
}

.card2 .back a {
    text-decoration: none;
    color: #FFF;
    margin-top: 10%;
}

.card2:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.card2:hover .back {
    transform: perspective(600px) rotateY(360deg);
}

/* catalogo diferente */

.card3 {
    position: relative;
    width: 100%;
    height: 220px;
    border-radius: 5px;
}

.card3 .face2 {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 5px;
    overflow: hidden;
    transition: .5s;
}

.card3 .front2 {
    transform: perspective(600px) rotateY(0deg);
}


.card3 .back2 {
    transform: perspective(600px) rotateY(180deg);
    background-color: rgba(241, 90, 36, 0.7);
    padding: 10%;
    color: #FFF;
    display: flex;
    flex-direction: column;
    text-align: justify;
    box-shadow: 0 5px 10px #fc6b02;
}

.card3 .back2 a {
    text-decoration: none;
    color: #FFF;
}

.card3:hover .front2 {
    transform: perspective(600px) rotateY(180deg);
}

.card3:hover .back2 {
    transform: perspective(600px) rotateY(360deg);
}

/* Catalogos */
/* Mobilliarios, Sillas, Silla Oficina */

.catalogs {
    width: 35%;
    height: auto;
    margin-left: 33%;
}

.catalogss {

    height: 550px;
}

/* Cabeceras */

.cabeceras {
    width: 50%;
    height: auto;
    margin-left: 28.25%;
}

.cabecerass {
    height: 450px;
}

/* Hoteles */

.cards3 {
    position: relative;
    width: 100%;
    height: 220px;
    border-radius: 5px;
}

.cards3 .face3 {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 5px;
    overflow: hidden;
    transition: .5s;
    background-size: cover;
}

.cards3 .front3 {
    transform: perspective(600px) rotateY(0deg);
    background-size: cover;
}

.front3 img{
    width: 100%;
    vertical-align: top;
    height: 220px;
    object-fit: cover;
}

.front4 img{
    width: 100%;
    vertical-align: top;
    height: 220px;
    object-fit: cover;
}

.front5 img{
    width: 100%;
    vertical-align: top;
    height: 220px;
    object-fit: cover;
}

.cards3 .back3 {
    transform: perspective(600px) rotateY(180deg);
    background-color: rgba(241, 90, 36, 0.7);
    padding: 10%;
    color: #FFF;
    display: flex;
    flex-direction: column;
    text-align: justify;
    box-shadow: 0 5px 10px #fc6b02;
}

.cards3 .back3 h3 {
    margin-top: 60%;
    width: 100%;
    height: 45px;
    color: #FFF;
    background: rgba(0, 0, 0, 0.3);
    text-align: center;
    border-radius: 5px;
}

.cards3 .back3 a {
    text-decoration: none;
    color: #FFF;
}

.cards3:hover .front3 {
    transform: perspective(600px) rotateY(180deg);
}

.cards3:hover .back3 {
    transform: perspective(600px) rotateY(360deg);
}

/* Footer hoteles */

.footers {
    margin-top: 60%;
    margin-left: 12%;
    padding: 1%;
    width: 76.5%;
    margin-bottom: 2%;
}

th,
td {
    padding: 8px;
    text-align: left;
}

th {
    font-weight: bold;
    font-size: 20px;
}

.footertitle2 {
    color: #FFF;
}

.foots2 {
    color: #ffffff;
    font-style: normal;
    text-decoration: none;
    font-size: small;
}

.todofoot2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tablas {
    width: 30%;
    /* margin-left: -40%; */
}

.redessociales {
    width: 30px;
    height: auto;
    /* margin-left: -95%; */
}

.redsocial {
    color: #f15a24;
    display: inline-block;
}

/* Santa Cecilia */

.sc {
    background-image: url("../img/proyectos/hoteles/santacecilia/port.jpg");
    background-repeat: no-repeat;
    width: 76.5%;
    height: 320px;
    border-radius: 5px;
    margin-left: 12%;
    margin-top: -0.01%;
}

.sc1 {
    /* background-color: rgba(255, 255, 255, 0.5); */
    width: 76.5%;
    height: 600px;
    margin-top: -9px;
    margin-left: 12%;
    text-align: center;
    padding: 5%;
    font-size: 14px;
}

.sc1 h2 {
    margin-top: 20%;
    color: #FFF;
}

.btnsc {
    /* margin-top: 20%; */
    background-color: #f15a24;
    color: #FFF;
}

.btnsc:hover {
    /* margin-top: 20%; */
    background-color: transparent;
    border: 2px #f15a24;
    border-style: solid;
    color: #000000;
}

/* galeria de imagenes */

.cardsimgs {
    position: relative;
    width: 100%;
    height: 220px;
    border-radius: 5px;
    transition: all 400ms ease;
}

.cardsimgs .face4 {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 5px;
    overflow: hidden;
    transition: .5s;
}

.cardsimgs:hover {
    box-shadow: 5px 5px 20px rgba(241, 90, 36, 0.7);
    transform: translateY(-3%);
}

/* foter de hotel cecilia */

.footercecilia {
    margin-top: 35%;
    margin-left: 12%;
    padding: 1%;
    width: 76.5%;
    margin-bottom: 2%;
}

/* Hotel palmas */


.pal {
    background-image: url("../img/proyectos/hoteles/palmas/port.jpg");
    background-repeat: no-repeat;
    width: 76.5%;
    height: 320px;
    border-radius: 5px;
    margin-left: 12%;
    margin-top: -0.01%;
}

.pal1 {
    /* background-color: rgba(255, 255, 255, 0.5); */
    width: 76.5%;
    height: 600px;
    margin-top: -9px;
    margin-left: 12%;
    text-align: center;
    padding: 5%;
    font-size: 14px;
}

.pal1 h2 {
    margin-top: 20%;
    color: #FFF;
}

.btnpal {
    /* margin-top: 20%; */
    background-color: #f15a24;
    color: #FFF;
}

.btnpal:hover {
    /* margin-top: 20%; */
    background-color: transparent;
    border: 2px #f15a24;
    border-style: solid;
    color: #000000;
}

/* footerpalmas */

.footerpalmas {
    margin-top: 18%;
    margin-left: 12%;
    padding: 1%;
    width: 76.5%;
    margin-bottom: 2%;
}

/* Hotel serranillo */

.ser {
    background-image: url("../img/proyectos/hoteles/serranillo/port.jpg");
    background-repeat: no-repeat;
    width: 76.5%;
    height: 320px;
    border-radius: 5px;
    margin-left: 12%;
    margin-top: -0.01%;
}

.ser1 {
    /* background-color: rgba(255, 255, 255, 0.5); */
    width: 76.5%;
    height: 600px;
    margin-top: -9px;
    margin-left: 12%;
    text-align: center;
    padding: 5%;
    font-size: 14px;
}

.ser1 h2 {
    margin-top: 20%;
    color: #FFF;
}

.btnser {
    /* margin-top: 20%; */
    background-color: #f15a24;
    color: #FFF;
}

.btnser:hover {
    /* margin-top: 20%; */
    background-color: transparent;
    border: 2px #f15a24;
    border-style: solid;
    color: #000000;
}

/* footerserranillo */

.footerserranillo {
    margin-top: 2%;
    margin-left: 12%;
    padding: 1%;
    width: 76.5%;
    margin-bottom: 2%;
}

/* Hotel azul */

.azul {
    background-image: url("../img/proyectos/hoteles/azulixtapa/port.jpg");
    background-repeat: no-repeat;
    width: 76.5%;
    height: 320px;
    border-radius: 5px;
    margin-left: 12%;
    margin-top: -0.01%;
}

.azul1 {
    /* background-color: rgba(255, 255, 255, 0.5); */
    width: 76.5%;
    height: 600px;
    margin-top: -9px;
    margin-left: 12%;
    text-align: center;
    padding: 5%;
    font-size: 14px;
}

.azul1 h2 {
    margin-top: 20%;
    color: #FFF;
}

.btnazul {
    /* margin-top: 20%; */
    background-color: #f15a24;
    color: #FFF;
}

.btnazul:hover {
    /* margin-top: 20%; */
    background-color: transparent;
    border: 2px #f15a24;
    border-style: solid;
    color: #000000;
}

/* footerazul */

.footerazul {
    margin-top: 35%;
    margin-left: 12%;
    padding: 1%;
    width: 76.5%;
    margin-bottom: 2%;
}

/* Hotel Best Western Pozarica */

.bwp {
    background-image: url("../img/proyectos/hoteles/bestwesternpozarica/port.jpg");
    background-repeat: no-repeat;
    width: 76.5%;
    height: 320px;
    border-radius: 5px;
    margin-left: 12%;
    margin-top: -0.01%;
}

/* footerbwp */

.footerbwp {
    margin-top: 2%;
    margin-left: 12%;
    padding: 1%;
    width: 76.5%;
    margin-bottom: 2%;
}

/* Hotel la Mision */

.mision {
    background-image: url("../img/proyectos/hoteles/lamision/port.jpg");
    background-repeat: no-repeat;
    width: 76.5%;
    height: 320px;
    border-radius: 5px;
    margin-left: 12%;
    margin-top: -0.01%;
}

/* footerbwp */

.footermision {
    margin-top: 2%;
    margin-left: 12%;
    padding: 1%;
    width: 76.5%;
    margin-bottom: 2%;
}


/* Hotel la hs */

.hs {
    background-image: url("../img/proyectos/hoteles/hs/port.jpg");
    background-repeat: no-repeat;
    width: 76.5%;
    height: 320px;
    border-radius: 5px;
    margin-left: 12%;
    margin-top: -0.01%;
}

/* footerhs */

.footerhs {
    margin-top: 18%;
    margin-left: 12%;
    padding: 1%;
    width: 76.5%;
    margin-bottom: 2%;
}

/* Hotel la dorado royale */

.dr {
    background-image: url("../img/proyectos/hoteles/doradoroyale/port.jpg");
    background-repeat: no-repeat;
    width: 76.5%;
    height: 320px;
    border-radius: 5px;
    margin-left: 12%;
    margin-top: -0.01%;
}

/* footerdr */

.footerdr {
    margin-top: 2%;
    margin-left: 12%;
    padding: 1%;
    width: 76.5%;
    margin-bottom: 2%;
}

/* Hotel miralas */

.miralas {
    background-image: url("../img/proyectos/hoteles/miralas/port.jpg");
    background-repeat: no-repeat;
    width: 76.5%;
    height: 320px;
    border-radius: 5px;
    margin-left: 12%;
    margin-top: -0.01%;
}

/* footerdr */

.footermiralas {
    margin-top: 20%;
    margin-left: 12%;
    padding: 1%;
    width: 76.5%;
    margin-bottom: 2%;
}

/* Hotel Basalto */

.Basalto {
    background-image: url("../img/proyectos/hoteles/basalto/port.jpg");
    background-repeat: no-repeat;
    width: 76.5%;
    height: 320px;
    border-radius: 5px;
    margin-left: 12%;
    margin-top: -0.01%;
}

/* footerBasalto */

.footermiralas {
    margin-top: 20%;
    margin-left: 12%;
    padding: 1%;
    width: 76.5%;
    margin-bottom: 2%;
}

/* Hotel industrial */

.ind {
    background-image: url("../img/proyectos/hoteles/industrial/port.jpg");
    background-repeat: no-repeat;
    width: 76.5%;
    height: 320px;
    border-radius: 5px;
    margin-left: 12%;
    margin-top: -0.01%;
}

/* footerIndustrial */

.footerind {
    margin-top: -20%;
    margin-left: 12%;
    padding: 1%;
    width: 76.5%;
    margin-bottom: 2%;
}

/* Hotel Ok Saltillo */

.oks {
    background-image: url("../img/proyectos/hoteles/oksaltillo/port.jpg");
    background-repeat: no-repeat;
    width: 76.5%;
    height: 320px;
    border-radius: 5px;
    margin-left: 12%;
    margin-top: -0.01%;
}

/* footeroks */

.footeroks {
    margin-top: 2%;
    margin-left: 12%;
    padding: 1%;
    width: 76.5%;
    margin-bottom: 2%;
}

/* Hotel best western */

.bw {
    background-image: url("../img/proyectos/hoteles/bestwestern/port.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 76.5%;
    height: 320px;
    border-radius: 5px;
    margin-left: 12%;
    margin-top: -0.01%;
}

/* footerBW */

.footerind {
    margin-top: -20%;
    margin-left: 12%;
    padding: 1%;
    width: 76.5%;
    margin-bottom: 2%;
}

/* Hotel de los baños */

.hb {
    background-image: url("../img/proyectos/hoteles/hotelbanios/2.jpg");
    background-repeat: no-repeat;
    width: 76.5%;
    height: 320px;
    border-radius: 5px;
    margin-left: 12%;
    margin-top: -0.01%;
}

/* footerhb */

.footerbwp {
    margin-top: 2%;
    margin-left: 12%;
    padding: 1%;
    width: 76.5%;
    margin-bottom: 2%;
}







/* Hospitales */

/* Footer Hospitales */

.footershosp {
    margin-top: -40%;
    margin-left: 12%;
    padding: 1%;
    width: 76.5%;
    margin-bottom: 2%;
}

th,
td {
    padding: 8px;
    text-align: left;
}

th {
    font-weight: bold;
    font-size: 20px;
}

.footertitle2 {
    color: #FFF;
}

.foots2 {
    color: #ffffff;
    font-style: normal;
    text-decoration: none;
    font-size: small;
}

.todofoot2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tablas {
    width: 30%;
    /* margin-left: -40%; */
}

.redessociales {
    width: 30px;
    height: auto;
    /* margin-left: -95%; */
}

.redsocial {
    color: #f15a24;
    display: inline-block;
}

/* Hospitales end*/


/* Oficinas */

/* Footer Oficinas */

.footersOfi {
    /* margin-top: 10%; */
    margin-left: 12%;
    padding: 1%;
    width: 76.5%;
    margin-bottom: 2%;
}

th,
td {
    padding: 8px;
    text-align: left;
}

th {
    font-weight: bold;
    font-size: 20px;
}

.footertitle2 {
    color: #FFF;
}

.foots2 {
    color: #ffffff;
    font-style: normal;
    text-decoration: none;
    font-size: small;
}

.todofoot2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tablas {
    width: 30%;
    /* margin-left: -40%; */
}

.redessociales {
    width: 30px;
    height: auto;
    /* margin-left: -95%; */
}

.redsocial {
    color: #f15a24;
    display: inline-block;
}


/* Oficinas end*/


/* Restaurante */

.bocha {
    background-image: url("../img/proyectos/restaurantes/labocha/1.jpg");
    background-repeat: no-repeat;
    width: 76.5%;
    height: 320px;
    border-radius: 5px;
    margin-left: 12%;
    margin-top: -0.01%;
}


.tn{
    background-image: url("../img/proyectos/restaurantes/tierranorte/1.jpg");
    background-repeat: no-repeat;
    width: 76.5%;
    height: 320px;
    border-radius: 5px;
    margin-left: 12%;
    margin-top: -0.01%;
}


.suk{
    background-image: url("../img/proyectos/restaurantes/sukoi/4.jpg");
    background-repeat: no-repeat;
    width: 76.5%;
    height: 320px;
    border-radius: 5px;
    margin-left: 12%;
    margin-top: -0.01%;
}

.cel{
    background-image: url("../img/proyectos/restaurantes/casainn/1.jpg");
    background-repeat: no-repeat;
    width: 76.5%;
    height: 320px;
    border-radius: 5px;
    margin-left: 12%;
    margin-top: -0.01%;
}

.soc{
    background-image: url("../img/proyectos/restaurantes/socavon/1.jpg");
    background-repeat: no-repeat;
    width: 76.5%;
    height: 320px;
    border-radius: 5px;
    margin-left: 12%;
    margin-top: -0.01%;
}

.qub{
    background-image: url("../img/proyectos/restaurantes/qubika/1.jpg");
    background-repeat: no-repeat;
    width: 76.5%;
    height: 320px;
    border-radius: 5px;
    margin-left: 12%;
    margin-top: -0.01%;
}

.arc{
    background-image: url("../img/proyectos/restaurantes/elarca/8.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 76.5%;
    height: 320px;
    border-radius: 5px;
    margin-left: 12%;
    margin-top: -0.01%;
}

.SnL{
    background-image: url("../img/proyectos/restaurantes/sanlucar/1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 76.5%;
    height: 320px;
    border-radius: 5px;
    margin-left: 12%;
    margin-top: -0.01%;
}

.mol{
    background-image: url("../img/proyectos/restaurantes/elmolino/3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 76.5%;
    height: 320px;
    border-radius: 5px;
    margin-left: 12%;
    margin-top: -0.01%;
}

.hay{
    background-image: url("../img/proyectos/restaurantes/hayes/7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 76.5%;
    height: 320px;
    border-radius: 5px;
    margin-left: 12%;
    margin-top: -0.01%;
}

.ven{
    background-image: url("../img/proyectos/restaurantes/elvendaval/6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 76.5%;
    height: 320px;
    border-radius: 5px;
    margin-left: 12%;
    margin-top: -0.01%;
}

.mil{
    background-image: url("../img/proyectos/restaurantes/elmilagro/1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 76.5%;
    height: 320px;
    border-radius: 5px;
    margin-left: 12%;
    margin-top: -0.01%;
}

.ham{
    background-image: url("../img/proyectos/restaurantes/lahambrocha/6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 76.5%;
    height: 320px;
    border-radius: 5px;
    margin-left: 12%;
    margin-top: -0.01%;
}

.dol{
    background-image: url("../img/proyectos/restaurantes/dolina/3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 76.5%;
    height: 320px;
    border-radius: 5px;
    margin-left: 12%;
    margin-top: -0.01%;
}

.tacM{
    background-image: url("../img/proyectos/restaurantes/tacomeat/1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 76.5%;
    height: 320px;
    border-radius: 5px;
    margin-left: 12%;
    margin-top: -0.01%;
}

.footersqub {
    margin-top: 15%;
    margin-left: 12%;
    padding: 1%;
    width: 76.5%;
    margin-bottom: 2%;
}

.footerssnL {
    margin-top: -2%;
    margin-left: 12%;
    padding: 1%;
    width: 76.5%;
    margin-bottom: 2%;
}

th,
td {
    padding: 8px;
    text-align: left;
}

th {
    font-weight: bold;
    font-size: 20px;
}

.footertitle2 {
    color: #FFF;
}

.foots2 {
    color: #ffffff;
    font-style: normal;
    text-decoration: none;
    font-size: small;
}

.todofoot2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tablas {
    width: 30%;
    /* margin-left: -40%; */
}

.redessociales {
    width: 30px;
    height: auto;
    /* margin-left: -95%; */
}

.redsocial {
    color: #f15a24;
    display: inline-block;
}

/* Restaurante end */

/* Hospitales */

.zac{
    background-image: url("../img/proyectos/hospitales/zacatecas/5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 76.5%;
    height: 320px;
    border-radius: 5px;
    margin-left: 12%;
    margin-top: -0.01%;
}

.sal{
    background-image: url("../img/proyectos/hospitales/salvatierra/2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 76.5%;
    height: 320px;
    border-radius: 5px;
    margin-left: 12%;
    margin-top: -0.01%;
}

.emZ{
    background-image: url("../img/proyectos/hospitales/emilinozapata/8.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 76.5%;
    height: 320px;
    border-radius: 5px;
    margin-left: 12%;
    margin-top: -0.01%;
}

/* Hospitales end*/

/* Oficinas */

.cong{
    background-image: url("../img/proyectos/oficinas/congresounionhidalgo/4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 76.5%;
    height: 320px;
    border-radius: 5px;
    margin-left: 12%;
    margin-top: -0.01%;
}

.gra{
    background-image: url("../img/proyectos/oficinas/consultoriograber/2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 76.5%;
    height: 320px;
    border-radius: 5px;
    margin-left: 12%;
    margin-top: -0.01%;
}

.cred{
    background-image: url("../img/proyectos/oficinas/credencializacionUAEH/1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 76.5%;
    height: 320px;
    border-radius: 5px;
    margin-left: 12%;
    margin-top: -0.01%;
}

.not{
    background-image: url("../img/proyectos/oficinas/notaria2/1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 76.5%;
    height: 320px;
    border-radius: 5px;
    margin-left: 12%;
    margin-top: -0.01%;
}

.cen{
    background-image: url("../img/proyectos/oficinas/centronegociosUAEH/1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 76.5%;
    height: 320px;
    border-radius: 5px;
    margin-left: 12%;
    margin-top: -0.01%;
}

.socav{
    background-image: url("../img/proyectos/oficinas/socavon/5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 76.5%;
    height: 320px;
    border-radius: 5px;
    margin-left: 12%;
    margin-top: -0.01%;
}

.tras{
    background-image: url("../img/proyectos/oficinas/transberra/6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 76.5%;
    height: 320px;
    border-radius: 5px;
    margin-left: 12%;
    margin-top: -0.01%;
}

.oly{
    background-image: url("../img/proyectos/oficinas/olympia/6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 76.5%;
    height: 320px;
    border-radius: 5px;
    margin-left: 12%;
    margin-top: -0.01%;
}


.cards5 {
    position: relative;
    width: 100%;
    height: 220px;
    border-radius: 5px;
}

.cards5 .face5 {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 5px;
    overflow: hidden;
    transition: .5s;
    background-size: cover;
}

.cards5 .front5 {
    transform: perspective(600px) rotateY(0deg);
    background-size: cover;
}


.cards5 .back5 {
    transform: perspective(600px) rotateY(180deg);
    background-color: rgba(241, 90, 36, 0.7);
    padding: 10%;
    color: #FFF;
    display: flex;
    flex-direction: column;
    text-align: justify;
    box-shadow: 0 5px 10px #fc6b02;
}

.cards5 .back5 h3 {
    margin-top: 50%;
    width: 100%;
    height: 45px;
    color: #FFF;
    background: rgba(0, 0, 0, 0.3);
    text-align: center;
    border-radius: 5px;
}

.cards5 .back5 h3 {
    margin-top: 50%;
    width: 100%;
    height: 45px;
    color: #FFF;
    background: rgba(0, 0, 0, 0.3);
    text-align: center;
    border-radius: 5px;
}

.cards5 .back5 a {
    text-decoration: none;
    color: #FFF;
}

.cards5:hover .front5 {
    transform: perspective(600px) rotateY(180deg);
}

.cards5:hover .back5 {
    transform: perspective(600px) rotateY(360deg);
}

.cards5 .back51 {
    transform: perspective(600px) rotateY(180deg);
    background-color: rgba(241, 90, 36, 0.7);
    padding: 10%;
    color: #FFF;
    display: flex;
    flex-direction: column;
    text-align: justify;
    box-shadow: 0 5px 10px #fc6b02;
}

.cards5 .back51 h3 {
    margin-top: 50%;
    width: 100%;
    height: 65px;
    color: #FFF;
    background: rgba(0, 0, 0, 0.3);
    text-align: center;
    border-radius: 5px;
}

.cards5 .back51 h3 {
    margin-top: 50%;
    width: 100%;
    height: 65px;
    color: #FFF;
    background: rgba(0, 0, 0, 0.3);
    text-align: center;
    border-radius: 5px;
}

.cards5 .back51 a {
    text-decoration: none;
    color: #FFF;
}

.cards5:hover .back51 {
    transform: perspective(600px) rotateY(360deg);
}

/* Footer congreso */
.footercong {
    margin-top: 35%;
    margin-left: 12%;
    padding: 1%;
    width: 76.5%;
    margin-bottom: 2%;
}

/* Footer olympia */
.footeroly {
    margin-top: -20%;
    margin-left: 12%;
    padding: 1%;
    width: 76.5%;
    margin-bottom: 2%;
}

/* Oficinas end*/

/* Especiales */

.bCon{
    background-image: url("../img/proyectos/especiales/bancasconvento/port.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 76.5%;
    height: 320px;
    border-radius: 5px;
    margin-left: 12%;
    margin-top: -0.01%;
}

.crio{
    background-image: url("../img/proyectos/especiales/casario/3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 76.5%;
    height: 320px;
    border-radius: 5px;
    margin-left: 12%;
    margin-top: -0.01%;
}

.caclu{
    background-image: url("../img/proyectos/especiales/casaclubgolf/3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 76.5%;
    height: 320px;
    border-radius: 5px;
    margin-left: 12%;
    margin-top: -0.01%;
}

.nicke{
    background-image: url("../img/proyectos/especiales/nickelodeon/2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 76.5%;
    height: 320px;
    border-radius: 5px;
    margin-left: 12%;
    margin-top: -0.01%;
}

.tec{
    background-image: url("../img/proyectos/especiales/techos/2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 76.5%;
    height: 320px;
    border-radius: 5px;
    margin-left: 12%;
    margin-top: -0.01%;
}

/* Footer nickelodeon */
.footernicke {
    margin-top: 75%;
    margin-left: 12%;
    padding: 1%;
    width: 76.5%;
    margin-bottom: 2%;
}

/* Footer nickelodeon */
.footerspe {
    margin-top: -22%;
    margin-left: 12%;
    padding: 1%;
    width: 76.5%;
    margin-bottom: 2%;
}

/* Especiales end */
